
<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="/">GameServe</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                        <li class="navbar-text">Welcome, {{ user.username }}!</li>
                        <li><a href="/accounts/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/accounts/register/">Register</a></li>
                        <li><a href="/accounts/login/">Login</a></li>
                    {% endif %}
                </ul>
                <!-- <ul class="nav">
                    <li><a href="/mainApp/restricted/">Restricted</a></li>
                    <li><a href="/mainApp/add_category/">Add Category</a></li>
                    <li><a href="/mainApp/about/">About</a></li>
                </ul> -->
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
