<!DOCTYPE html>

{% load static %}

<html>
  <head>
      {% include "head.html" %}
      <title>Login Main</title>
  </head>


  <body>
  {% include "top_navi.html" %}
    <a href="/accounts/register/">Register Here</a>
    <a href="/accounts/login/">Login</a>
  </body>
</html>
