@mixin vendor-prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
        #{$vendor}#{$name}: #{$value};
    }
}

$green: #6CAB43;
$dark: #2E2D2C;
$meddark: #AAA;
$med: #CECECE;
$light: #F7F7F7;


@font-face {
    font-family: 'sinkin_sans300_light_italic';
    src: url('../assets/fonts/sinkinsans-300lightitalic-webfont.eot');
    src: url('../assets/fonts/sinkinsans-300lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/sinkinsans-300lightitalic-webfont.woff') format('woff'),
         url('../assets/fonts/sinkinsans-300lightitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/sinkinsans-300lightitalic-webfont.svg#sinkin_sans300_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('../assets/fonts/sinkinsans-300light-webfont.eot');
    src: url('../assets/fonts/sinkinsans-300light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/sinkinsans-300light-webfont.woff') format('woff'),
         url('../assets/fonts/sinkinsans-300light-webfont.ttf') format('truetype'),
         url('../assets/fonts/sinkinsans-300light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kenyan_coffeeregular';
    src: url('../assets/fonts/kenyan_coffee_rg.eot');
    src: url('../assets/fonts/kenyan_coffee_rg.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/kenyan_coffee_rg.woff') format('woff'),
         url('../assets/fonts/kenyan_coffee_rg.ttf') format('truetype'),
         url('../assets/fonts/kenyan_coffee_rg.svg#kenyan_coffeeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kenyan_coffeeitalic';
    src: url('../assets/fonts/kenyan_coffee_rg_it.eot');
    src: url('../assets/fonts/kenyan_coffee_rg_it.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/kenyan_coffee_rg_it.woff') format('woff'),
         url('../assets/fonts/kenyan_coffee_rg_it.ttf') format('truetype'),
         url('../assets/fonts/kenyan_coffee_rg_it.svg#kenyan_coffeeitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../assets/fonts/icomoon.eot?-y1ycr0');
    src:url('../assets/fonts/icomoon.eot?#iefix-y1ycr0') format('embedded-opentype'),
        url('../assets/fonts/icomoon.woff?-y1ycr0') format('woff'),
        url('../assets/fonts/icomoon.ttf?-y1ycr0') format('truetype'),
        url('../assets/fonts/icomoon.svg?-y1ycr0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.largeIcon {
    font-size: 85px;
    width: 85px;
    margin: 5px auto;
    &.left {
        float: left;
    }
}

.icon-heatRep:before {
    content: "\e60d";
}
.icon-baseball:before {
    content: "\e600";
}
.icon-basketball:before {
    content: "\e601";
}
.icon-biking:before {
    content: "\e602";
}
.icon-checkedIn:before {
    content: "\e603";
}
.icon-comments:before {
    content: "\e604";
}
.icon-committed:before {
    content: "\e605";
}
.icon-football:before {
    content: "\e606";
}
.icon-ping-pong:before {
    content: "\e607";
}
.icon-racquetball:before {
    content: "\e608";
}
.icon-running:before {
    content: "\e609";
}
.icon-soccer:before {
    content: "\e60a";
}
.icon-tennis:before {
    content: "\e60b";
}
.icon-volleyball:before {
    content: "\e60c";
}
.icon-expand:before {
    content: "\e60e";
}
.icon-contract:before {
    content: "\e60f";
}
.icon-close:before {
    content: "\e610";
}
.icon-checkmark:before {
    content: "\e611";
}
.icon-minus:before {
    content: "\e612";
}
.icon-plus:before {
    content: "\e613";
}
.icon-arrow-up:before {
    content: "\e614";
}
.icon-mobile:before {
    content: "\e615";
}
.icon-mail:before {
    content: "\e616";
}
.icon-camera:before {
    content: "\e617";
}
.icon-facebook:before {
    content: "\e618";
}
.icon-gsIcon:before {
    content: "\e619";
}
body {
    background: $med;
    font-family: 'sinkin_sans300_light';
    margin: 0px;
    padding: 0px;
    color: $dark;
}
.center {
    margin: auto;
    width: 1000px;
    height: 100%;
    &.head {
        width: 870px;
    }
}
.invis{
    display:none;
}
#content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    // @include vendor-prefix('transition', '200ms ease'); ease;
    @include vendor-prefix('transition', '200ms ease');
    &.blurry{
        @include vendor-prefix('filter', 'blur(2px)');
        // filter: blur(2px);
    }
    #fader {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        &.fade {
            opacity: 1;
            pointer-events: none;
        }
    }
}
header {
    position: fixed;
    height: 57px;
    width: 100%;
    background: $light;
    z-index: 100;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
    z-index: 20;
    .headerLink {
        position: relative;
        height: 57px;
        padding: 15px 20px;
        float: right;
        margin-right: 10px;
        @include vendor-prefix('transition', '200ms ease-in-out');
        @include vendor-prefix('transition', '200ms ease-in-out');
        text-align: center;
        cursor: pointer;
        &:hover {
            color: $light;
        }
        &:hover > .linkSlider {
            opacity: 1;
            top: 0px;
        }
        .linkSlider {
            position: absolute;
            width: 100%;
            height: 57px;
            top: -90px;
            margin-left: -20px;
            background: $green;
            z-index: -1;
            @include vendor-prefix('transition', '200ms ease-in-out');
            &.active {
                opacity: 1;
                top: 0px;
            }
        }
    }
}
.verticalPane {
    position: relative;
    float:left;
    padding-top: 75px;
    width: 600px;
    height: 100%;
    &.small {
        width: 300px;
        margin-left: 15px;
    }
}
#logo {
    position: relative;
    width: 170px;

}
.window {
    background: $light;
    position: relative;
    float: left;
    margin: 20px;
    border-radius: 5px;
    margin-top: 20px;
    min-height: 200px;
    width: 600px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
    &.side {
        width: 250px;
    }
    .windowHeader {
        position: relative;
        top: 0px;
        padding: 5px 10px;
        color: $dark;
        background: $med;
        width: 100%;
        height: 30px;
    
        &.large {
            color: $dark;
            background: $light;
            height: 180px;
        }
        &.medium {
            color: $dark;
            background: $light;
            height: 90px;
        }
    }
    .windowBlock {
        position: relative;
        float: left;
        width: 33%;
        height: 180px;
        text-align: center;
        background: $dark;
        color: $light;
        padding-top: 20px;
        font-size: 14px;
        &:nth-child(2n+1) {
            width: 34%;
            background: $green;
        }
        &.scheduler {
            background: transparent;
            color: $meddark;
            padding: 0px;
        }
        h5 {
            position: absolute;
            bottom: 20px;
            width: 100%;        
        }
        .blockText {
            position: relative;
            font-size: 26px;
            color: $light;
        }
        .blockDeet {
            position: relative;
            font-size: 12px;
            width: 100%;
            color: $light;
            margin-bottom: 40px;
            &:last-child {
                position: absolute;
                bottom: 20px;
                margin: 0px;
            }
            &.scheduler {
                color: $meddark;
                margin-bottom: 0px;
            }
        }
        #pickerInput {
            display: none;
        }
    }
}
#mapCanvas {
    height: 400px;
    margin-top: 20px;
    overflow: hidden;
    &.bigMap {
        position: relative;
        clear: both;
        height: 400px;
    }
    &.sideMap {
        position: relative;
        margin-top: 0px;
        float: left;
        height: 200px;
        width: 66%;
    }
}
.userPhoto {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0px 10px;
    border-radius: 50%;
    pointer-events: none;
    &.large {
        margin: 10px;
        border: 5px solid $light;
        height: 150px;
        width: 150px;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
        pointer-events: all;
        &:hover + .editPhoto {
            opacity: .6;
            cursor: pointer;
        }
    }
}
.editPhoto {
    opacity: 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 45px;
    left: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: $green;
    border-radius: 50%;
    color: $light;
    transition: 200ms;
    &:hover {
        opacity: .6;
        cursor: pointer;
    }
    .icon-camera {
        position: absolute;
        font-size: 40px;
        margin: 25px 30px;
    }

}
.listImg {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 50px;
    float: left;
    margin: 0px 10px;
    color: $dark;
    // @include vendor-prefix('transition', '200ms ease');
    &.green {
        color: $green;
    }
}
.heatImg {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
    font-size: 50px;
    color: $meddark;
    &.hot {
        color: $green;
    }
}
.browseGameInfo {
    position: relative;
    height: 100%;
    float: left;
    color: $dark;
    font-size: 12px;
    // transition: 100ms;
    cursor: pointer;
    .infoBlock {
        position: relative;
        float: left;
        margin: 0px 20px;
        width: 180px;
    }
    .infoText {
        position: relative;
        margin-right: 5px;
        margin-top: 5px;
        float: left;
        clear: both;
    }
}
.staticListItem {
    position: relative;
    width: calc(100% - 20px);
    padding: 5px 10px;
    border-top: 1px solid $med;
    overflow: hidden;
    cursor: pointer;
}
.listItem {
    position: relative;
    width: calc(100% - 20px);
    padding: 5px 10px;
    border-top: 1px solid $med;
    overflow: hidden;
    cursor: pointer;
    // @include vendor-prefix('transition', '200ms ease-in-out');
    &:hover {
        background: $green;
        color: $light;
    }
    &:hover > .recentInfo {
        color: $light;
    }
    &:hover > .browseGameInfo {
        color: $light;
        .heatImg {
            color: rgba(247,247,247,.7);
            &.hot {
                color: $light;
            }
        }
    }
    &:hover > .listImg {
        color: $light;
    }
    &:hover > .statType {
        color: $light;
    }
    &:hover > .statNum {
        color: $light;
    }
}
.recentInfo {
    position: relative;
    width: 150px;
    height: 100%;
    float: right;
    color: $dark;
    font-size: 12px;
    // @include vendor-prefix('transition', '200ms ease');
}
.statNum {
    color: $green;
    float: left;
    font-size: 26px;
    margin-left: 10px;
}
.statType {
    position: relative;
    width: 150px;
    height: 100%;
    float: left;
    color: $meddark;
    margin-top:-8px;
    margin-left: 10px;
    font-size: 12px;
    @include vendor-prefix('transition', '200ms ease');
}
.commentSection {
    position: relative;
    width: calc(100% - 70px);
    height: 100%;
    float: left;
    color: $meddark;
    font-size: 12px;
    min-height: 60px;
    &.create {
        height: 90px;
        width: 420px;
    }
    .comment {
        position: absolute;
        width: 400px;
        font-size: 12px;
        color: $meddark;
    }
    .deltaTime {
        position: absolute;
        right: 10px;
        bottom: 0px;
        height: 20px;
        font-size: 12px;
        color: $med;
    }
    #commentInput {
        position: absolute;
        height: 80px;
        width: 400px;
        border: none;
        box-shadow: inset 0 0 2px 2px $med;
        font-family: 'sinkin_sans300_light';
        border-radius: 5px;
        padding: 3px 5px;
    }
}
#submitComment {
    position: absolute;
    right: 0px;
    height: 100%;
    margin-top: -5px;
    width: 100px;
    background: $dark;
    @include vendor-prefix('transition', '200ms ease');
    &:hover {
        background: $green;
    }
    .icon-arrow-up {
        font-size: 30px;
        color: $light;
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
}
.filterSection {
    position: relative;
    float: left;
    width: 360px;
    height: auto;
    padding: 10px 0px 0px 5px;
    display: block;
    margin: auto;
    padding-bottom: 0px;
    &.side {
        width: 140px;
    }
    &.vert {
        width: 100%;
        height: auto;
        &:nth-child(2n+1) {
            padding-top: 0px;
            margin-bottom: 45px;
        }
    }
}
.verticalPane{
    .filterResults:not(.browse){
        margin-right:30px;
    }
}
.filterResults, .filterSection{
    input{
        display:none;
    }
    label{
        position: relative;
        width: 100px;
        height: 20px;
        float: left;
        font-size: 12px;
        padding: 3px 5px;
        color: $dark;
        margin: 5px;
        border-radius: 5px;
        text-align: center;
        @include vendor-prefix('transition', '200ms ease');
        cursor: pointer;
        &:hover {
            background: rgba(108,171,67,.6);
            color: $light;
        }
        &.selected {
            background: $green;
            color: $light;
        }

    }
    input:checked + label{
            background: $green;
            color: $light;
    }
}
.filterButton {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 60px;
    background: $dark;
    text-align: center;
    color: $light;
    padding-top: 65px;
    cursor: pointer;
    @include vendor-prefix('transition', '200ms ease');
    &:hover {
        background: $green;
    }
    &.bottom {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 30px;
        padding-top: 10px;
    }
}
.gameButton {
    position: relative;
    width: 100px;
    height: 20px;
    float: left;
    font-size: 12px;
    padding: 3px 5px;
    color: $dark;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    @include vendor-prefix('transition', '200ms ease');
    cursor: pointer;
    &:hover {
        background: rgba(108,171,67,.6);
        color: $light;
    }
    &.selected {
        background: $green;
        color: $light;
    }
}
#loginDropdown {
    opacity: 1;
    position: fixed;
    top: 55px;
    right: 200px;
    width: 300px;
    height: 300px;
    background: $light;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,.2);
    @include vendor-prefix('transition', '500ms ease-in-out');
    &.hidden {
        display: none;
    }
    #newMember {
        padding: 10px;
        &.hidden {
            display: none;
        }
        h5 {
            margin: 0px;
        }
    }   
    .windowHeader {
        position: relative;
        top: 0px;
        padding: 5px 10px;
        background: $light;
        color: $dark;
        width: calc(100% - 20px);
        height: 30px;
        .icon-close {
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 10px;
            font-size: 15px;
            color: $med;
            @include vendor-prefix('transition', '200ms ease');
            &:hover{
                color: $green;
            }
        }
    }
    .loginBlock {
        position: relative;
        float: left;
        margin: 10px;
        min-width: 270px;
    }
    .loginField {
        position: relative;
        width: 250px;
        height: 30px;
        border: none;
        border-radius: 5px;
        padding: 3px 5px;
        font-size: 15px;
        color: $green;
        font-family: 'sinkin_sans300_light';
        clear:both;
        box-shadow: inset 0 0 2px 2px $med;
    }
    .authButtonSection {
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 0px;
        margin-top: 20px;
        .authButton {
            position: relative;
            width: 50%;
            height: 100%;
            padding-top: 6px;
            float: left;
            text-align: center;
            background: $dark;
            color: $light;
            cursor: pointer;
            @include vendor-prefix('transition', '200ms ease');
            &:hover {
                background: $green;
                color: $light;
            }   
        }
    }
}
.accountSection {
    height: 190px;
    @include vendor-prefix('transition', '500ms ease-in-out');
    transition: 400ms;
    display: inline-table;
    overflow: hidden;
    &.expand {
        min-height: 300px;
    }
    .loginBlock {
        position: relative;
        float: left;
        margin: 10px;
        min-width: 270px;
    }
    #oldMember {
        padding: 10px;
        &.hidden {
            display: none;
        }
        h5 {
            margin: 0px;
        }
    }
    #newMember {
        padding: 10px;
        &.hidden {
            display: none;
        }
        h5 {
            margin: 0px;
        }
    }   
    .windowHeader {
        position: relative;
        top: 0px;
        padding: 5px 10px;
        background: $light;
        color: $dark;
        width: calc(100% - 20px);
        height: 30px;
        .icon-close {
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 10px;
            font-size: 15px;
            color: $med;
            @include vendor-prefix('transition', '200ms ease');
            &:hover{
                color: $green;
            }

        }
    }
    #id_phone_number, #id_username, #id_email, #id_email1, #id_password1, #id_password2{
        position: relative;
        width: 250px;
        height: 30px;
        border: none;
        border-radius: 5px;
        padding: 3px 5px;
        font-size: 15px;
        color: $green;
        font-family: 'sinkin_sans300_light';
        clear:both;
        box-shadow: inset 0 0 2px 2px $med;
    }
    .tempPhotoUpload {
        position: relative;
        float: left;
        height: 180px;
        width: 100%;
        border-radius: 5px;
        background: $meddark;
    }
    .wideButton {
        clear: both;
        position: relative;
        height: 30px;
        width: calc(100% - 40px);
        margin: auto 10px;
        color: $light;
        background: $dark;  
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-family: 'sinkin_sans300_light';
        transition: 200ms;
        &:hover {
            background: $green;
        }
        &.btn{
            height: 50px;
            width: calc(100% - 20px);

        }
    }
}

.headerDeets {
    position: relative;
    float: left;
    width: 400px;
    .headerGame {
        margin: 20px;
    }
}
h1, h3, h2, h5 {
    margin: 5px 0px;
    font-family: 'sinkin_sans300_light';
}
.headerInfo {
    position: relative;
    float: left;
}
.userInfo {
    position: relative;
    float: left;
    font-size: 30px;
}
.timePicker {
    position: relative;
    margin: 10px 25px;
    height: 50px;
    width: 100%;
    &.duration {
        margin-left: 45px;
    }
    #amPmToggle {
        position: relative;
        height: 20px;
        width: 25px;
        padding: 5px;
        background: $dark;
        float: left;
        color: $light;
        border-radius: 5px;
        cursor: pointer;
        transition: 200ms;
        &:hover {
            background: $green;
        }
    }
    .timeSelect {
        position: relative;
        height: 30px;
        padding: 5px;
        font-family: 'sinkin_sans300_light';
        font-size: 14px;
        float: left;
        background: $dark;
        border: none;
        color: $light;
        border-radius: 5px;
        cursor: pointer;
        transition: 200ms;
        &:hover {
            background: $green;
        }
    }
    label {
        position: relative;
        top: 32px;
        font-size: 10px;
        left: -112px;
        margin-left: 15px;
    }
}
.sideButton {
    position: relative;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    margin: 20px;
    border: none;
    background: $dark;
    padding-top: 20px;
    text-align: center;
    color: $light;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
    &:hover {
        background: $green;
    }
    &.hidden {
        display: none;
    }
    &.fb {
        background: #3B5998;
        color: #F2F2F2;
        transition: 200ms;
        &:hover {
            background:  #627AAD;
        }
        .icon-facebook {
            position: relative;
            float: left;
            margin: 0px 10px;
            font-size: 28px;
        }
        #facebookText {
            position: relative;
            float: left;
            width: 200px;
            font-size: 16px;
            margin-top: -8px;
            margin-left: -5px;
        }
    }
}

#popupNotice{
    background: $light;
    position: fixed;
    margin: 200px 350px;
    border-radius: 5px;
    min-height: 200px;
    width: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
    z-index: 110;
    transition: 200ms;
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
    #gsIcon {
        position: relative;
        float: left;
        width: 100px;
    }
    #noticeHeader {
        position: relative;
        top: 0px;
        padding: 5px 10px;
        color: $dark;
        background: $med;
        width: 100%;
        height: 30px;
    }
    .noticeContent {
        position: relative;
        width: 100%;
        padding: 5px 10px;
        #noticeText {
            position: absolute;
            right: 30px;
            width: 350px;
        }
    }
    #noticeButton {
        position: absolute;
        bottom: 0px;
        text-align: center;
        color: $light;
        background: $dark;
        width: 100%;
        height: 30px;
        transition: 200ms;
        &:hover {
            background: $green;
        }
    }
}

